services:
  aggregator:
    build: .
    container_name: aggregator
    environment:
      - ADDR=:8080
      - J_SERVER1_URL=http://j-server1:4001/flights
      - J_SERVER2_URL=http://j-server2:4001/flights
      - REQUEST_TIMEOUT_SECONDS=10
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    depends_on:
      - j-server1
      - j-server2

  j-server1:
    image: node:18-alpine
    container_name: j-server1
    working_dir: /app
    command: ["npx","-y","json-server@0.17.4","--host","0.0.0.0","--port","4001","/data/db.json"]
    volumes:
      - ./data/jserver1.json:/data/db.json:ro
    ports:
      - "4001:4001"

  j-server2:
    image: node:18-alpine
    container_name: j-server2
    working_dir: /app
    command: ["npx","-y","json-server@0.17.4","--host","0.0.0.0","--port","4001","/data/db.json"]
    volumes:
      - ./data/jserver2.json:/data/db.json:ro
    ports:
      - "4002:4001"
